<div class="pane">

    <h1>Impressum</h1>

    <p>This webapplication is programmed by <a href="mailto:joseph.wang@uibk.ac.at">Joseph Wang</a>, it is planned to
        upload the source to GitHub. In the mean time, if you are interested in the source code of the application,
        please send an email.</p>

    <h2>Used Libraries</h2>
    <p>The following libraries are used to create this application.</p>
    <ul>
        <li>For the backend
            <ul>
                <li><a href="http://spring.io" target="_blank">Spring Framework</a></li>
                <li><a href="http://hc.apache.org">Apache Http Components</a></li>
                <li><a href="http://saxon.sourceforge.net">Saxon XSLT Library</a></li>
                <li><a href="http://xstream.codehaus.org">XStream Serializer</a></li>
                <li><a href="http://commons.apache.org">Apache Commons</a> (IO, Upload, Logging)</li>
                <li><a href="http://slf4j.org">slf4j</a></li>
                <li><a href="http://wiki.fasterxml.com/JacksonHome">Jackson JSOn Serializer</a></li>
            </ul>
        </li>
        <li>Authorities used
            <ul>
                <li><a href="http://www.geonames.org">Geonames</a></li>
                <li><a href="http://www.viaf.org">Virtual Internet Authority File (VIAF)</a></li>
                <li><a href="http://www.wikidata.org">Wikidata</a></li>
            </ul>
        </li>
        <li>For Frontend
            <ul>
                <li><a href="http://angularjs.org">Angular JS</a></li>
                <li><a href="http://github.com/angular-ui/ui-router">Angular JS UI Router</a></li>
                <li><a href="http://jquery.com"></a>JQuery</li>
            </ul>
        </li>
    </ul>

</div>